@page "/categories"
@inject IRepository repository

<h3>CATEGORIAS</h3>

<GenericList MyList="Categories">
    <Loading> 
        <div class="align-items-center">
            <img src="https://img.pikbest.com/png-images/20190918/cartoon-snail-loading-loading-gif-animation_2734139.png!bw700" />
        </div>
    </Loading>
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Categoria</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Categories!)
                {
                    <tr>
                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>
                        <td>
                            @category.Name
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>

@code {
    public List<Category>? Categories { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var responseHttp = await repository.Get<List<Category>>("/api/Categories");
        Categories = responseHttp.Response;
    }
}
